@charset "utf-8";
/* 通用样式初始化 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;border:none;list-style:none;outline:none;}
body { font-size: 14px; font-family: "微软雅黑";  padding: 0; margin: 0; color: #535353; }
div, form, ul, dd, dl, ol, dt, li, p { list-style: none; padding: 0; margin: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; margin: 0; padding: 0; font-weight: normal; }
table { border-collapse: separate; border-spacing: 0; }
table, td, th { vertical-align: middle; }
textarea, input, button, select, keygen, legend { outline: 0; margin: 0; padding: 0;}
textarea { resize:none; } 
img{border:none;vertical-align:bottom;}
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance:none;outline:none;}
a { text-decoration: none;  cursor: pointer; }
a:hover { text-decoration: none; }

/* 清除浮动 */
.clearfix:after{ content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clear { width: 0; height: 0; margin: 0; padding: 0; line-height: 0px; font-size: 0px; clear: both;}

.none { display: none; }
.left { float: left; }
.right { float: right; }
.red{ color: #f00;}
.w1000{
			width: 1000px;			
			margin: 0 auto;
			overflow: hidden;
}
/*因为多次用到blue所以统一设置blue属性，然后在需要blue颜色的元素里面加一个class="blue"即可*/
.blue{  
	 color:blue;
}
/*手机验证*/
.error{
display:inline-block;
width:165px;
height:30px;
font-size:12px;
line-height:20px;
color:red;
border:1px solid rgb(255,144,0);
background:url(../images/icon21_1.png) no-repeat;
padding-left:20px;
margin-left:20px;
}
.error2{
	 border:1px solid red !important;
	 background:url(../images/icon21.png) no-repeat right;
}
.ok{
	display:inline-block;
	width:15px;
	height:15px;
	margin-left:10px;
	background:url(../images/icon35.png) no-repeat;
}
